:root{
    --fixed_width: 8.333333;
}
.container{
    width: 1320px;
    margin: 0 auto;
    border: 1px solid brown;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: calc(var(--fixed_width)*1%);
}
.col-2{
    width: calc(var(--fixed_width)*2%);
}
.col-3{
    width: calc(var(--fixed_width)*3%);
}
.col-4{
    width: calc(var(--fixed_width)*4%);
}
.col-5{
    width: calc(var(--fixed_width)*5%);
}
.col-6{
    width: calc(var(--fixed_width)*6%);
}
.col-7{
    width: calc(var(--fixed_width)*7%);
}
.col-8{
    width: calc(var(--fixed_width)*8%);
}
.col-9{
    width: calc(var(--fixed_width)*3%);
}
.col-10{
    width: calc(var(--fixed_width)*10%);
}
.col-11{
    width: calc(var(--fixed_width)*11%);
}
.col-12{
    width: calc(var(--fixed_width)*12%);

}

