@font-face {
    font-family: 'Playfair Display' ;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: 'Circular Std';
    src: url(../fonts/Circular_Std_Book.ttf);
}
:root{
    /* color variable */
    --brand: #0d354f;
    --orangelite: #dec7b0;
    --paragraph_color: #727272;
    --white: #ffffff;
    --off_white: #A6AEB5;
    --orange: #F6A25C;

    /* font variable  */
    --circular: 'Circular Std';
    --playfiar: 'Playfair Display';

    /* border  */
    --border: 1px solid red;

}
.section_heading_title_default{
    font-size: 13px;
    color: var(--orange);
    font-family: var(--circular);
    text-transform: uppercase;
 
}
.section_heading_default{
    font-size: 50px;
    line-height: 52px;
    color: var(--brand);
    font-weight: 900;
    font-family: var(--playfiar);
    text-align: center;
}

p{
    font-size: 14px;
    line-height: 26px;
    color: var(--paragraph_color);
    font-family: var(--circular);
}
.btn_outline{
    
    border: 1px solid var(--brand);
    color: var(--brand);
    font-family: var(--circular);
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px 45px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.btn_outline::before{
    content: '';
    position: absolute;
    background: var(--brand);
    height: 16px;
    width: 13px;
    bottom: -6px;
    left: -6px;
    transform: rotate(135deg);
}
.btn_fill{
    background: var(--brand);
    color: var(--white);
}

input{
    width: 45px;
    height: 35px;
    color: var(--brand);
    line-height: 45px;
    padding-left: 8px;
    border: 1px solid var(--off_white);
}

.add_to_card{
    /* border: 1px solid blueviolet; */
    text-align: center;
}

/* ************* */
/* common heading part  start*/
/* **************** */

.common_heading{
    /* border: var(--border); */
    text-align: center;
    padding: 60px 0;
    padding-bottom: 50px;
}

.icon {
    height: 15px;
}

.heading4 {
    font-size: 13px;
    padding: 20px 0px;
    color: var(--orange);
    font-family: var(--circular);
    text-transform: uppercase;
    /* border: var(--border); */
}

.heading2 {
    font-family: var(--playfair);
    font-size: 50px;
    color: var(--brand);
    text-transform: capitalize;
}

.heading3 {
    font-family: var(--playfair);
    text-transform: capitalize;
    padding: 20px 0px;
    color: var(--brand);
    font-style: italic;
    font-weight: normal;
    /* border: var(--border); */
}

.paragraph_item {
    padding-top: 10px;
    margin: 0 auto;
    width: 900px;
    font-size: 14px;
    color: var(--paragraph_color);
    font-family: var(--circular);
}

.footer_heading{
    font-family: var(--playfair);
    font-size: 21px;
    color: var(--white);
    line-height: 22px;
    text-transform: capitalize;
    padding-bottom: 40px;
}


/* ************* */
/* common heading part end */
/* **************** */


.card_view{
    height: 170px ;
    width: 320px;
    background-color: var(--brand);
    position: relative;
}
.card_view::after{
    content: '';
    position: absolute;
    background: var(--brand);
    height: 30px;
    width: 30px;
    bottom: -6px;
    left: 50%;
    transform: rotate(135deg);
    z-index: -1;
}